 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap'); 

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap'); 
 body{
    font-family: 'Poppins', sans-serif;
    background-color: #9F9F9F;
    
 }
/* font style */
.container {
    background-color: #ffff;
    /* height: 679px; */
    width: 870px;
    left: 285px;
    top: 130px;
    border-radius: 5px;
    margin: 0 auto;
    padding: 30px 33px;

}
.top-players-title{
    margin-bottom: 40px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #562EFF;

}

.players{
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    row-gap: 60px;
    padding-bottom: 30px;
    
}
.player{
    display: flex;
    align-items: center;
    gap: 20px;
    
}
.players img{
    height:56px;
    width: 56px;
}
.players-name{
    font-size: 18px;
}
hr{
    border: 1px solid #D1D1D1
}
/* ===============Top Blog======== */
.top-blog-one{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 26px;
    column-gap: 46px;
}
.blog{
    display: flex;
}
.blog .thambaile img{
    height: 117px;
    width: 177px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title {
    width: 164px;
    height: 68px;
    top: 5px;
    margin-top: 3px;
    line-height: 34px;
    font-weight: 500;
}
.blog-author {
    margin-top: -11px;
    font-size: 18px;
    color: #9F9F9F;
}
.blog-author a{
    text-decoration: none;
}

/* =========== latest course============ */
.section{
    margin-top:21px ;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
}
.Lates-Course {
    padding-top: 50px;
    padding-left: 10px;
    width: 252.42px;
    border-radius: 6px;
    height: 269.79px;
    box-shadow: 4px 4px 33px #00000045;
}
.Lates-Course img{
    width:224px ;
    height: 104px ;
    
}
.course-title{
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
    
}
.Lates-Course p{
    margin-top: -10px;
    color: #ED6B4F;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Robot' , sans-serif;
}
.course-info{
    display: flex;
    gap: 15px;
}
.course-time{

}
.fa-star.icon-color{
    color:#FFC014;
}
.icon-color-gray{
    color: #AEAEAE;
}
.course-time {
    background-color: #FEE5DF;
    color: #ED6B4F;
    width: 94px;
    text-align: center;
    height: 24px;
    border-radius: 111px;
}

/*
 =----------------------
                          media quarie 
 ------------------------------------*/

@media screen and (max-width:992px) {
    .container{
        width: 90%;
    }
    .top-players-title{
        text-align: center;
    }
    .players{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
    }
    .section-title{
        text-align: center;
    }
    .section {
        margin-top: 21px;
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
    }
}


 @media screen and (max-width:688px) {
    .container{
        width: 80%;
    }
    .players , .top-blog-one , .section{
        grid-template-columns: repeat(1,1fr);
    }
    .player , .blog{
        flex-direction: column;
    }
    .blog-info{
        margin-left: 9px;
    }
    /* blog */
    /* course srction */
    .section{
        row-gap: 40px;
    }
    .Lates-Course {
        padding-top: 27px;
        padding-bottom: 31px;
        padding-left: 20px;
    }
    .course-info {
        display: flex;
        gap: 15px;
        flex-direction: column;
    }
 }